<nav class="navbar navbar-expand-sm mb-3">
  <a class="navbar-brand" routerLink="/">
    <img
      src="../../assets/app-logo.png"
      alt="Cloud Op"
      class="col-md-9 app-logo"
    />
  </a>
  <button
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarNav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white text-monospace" routerLink="/copy"
          >Copy</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-monospace h-4" routerLink="/size"
          >Size</a
        >
      </li>
    </ul>
  </div>
</nav>
