.app-logo {
  padding: 0;
}

.nav-item {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.25vw;
}

.text {
  color: white;
}

.active {
  color: black;
}

.text:hover {
  color: aqua;
}
