<footer class="text-white text-center align-middle mx-5 mb-3">
  <hr style="width: 100%" />
  <p class="text-center align-middle mx-5">
    Copyright &copy; 2022. Cloud Op - All rights reserved
  </p>
  <div class="container text-center align-middle mx-auto">
    <a href="https://github.com/Nagaaswin/Cloud-OP-Frontend">
      <img
        src="../../assets/github-symbol.png"
        alt="github.com"
        class="img-fluid mx-auto" style="width: 15px; height: 15px;"
      /> 
    </a> &nbsp;
    <a href="mailto: nagaaswin775@gmail.com">
      <img
        src="../../assets/mail-symbol.png"
        alt="mail"
        class="img-fluid mx-auto"  style="width: 15px; height: 15px;"
      />
    </a>  &nbsp;
    <a href="https://discord.gg/GHypnPsBNd">
      <img
        src="../../assets/discord-symbol.png"
        alt="discord.com"
        class="img-fluid mx-auto" style="width: 15px; height: 15px;"
      />
    </a>
  </div>
</footer>
