<footer class="p-4 text-white text-center">
  <p>Copyright &copy; 2022. Cloud Op - All rights reserved</p>
  <br />
  <div class="container mt-2 mb-0 img-fluid mx-auto d-block">
    <a href="https://github.com/Nagaaswin/autoRclone-Frontend">
      <img src="../../assets/github-symbol.png" alt="github.com" class="mr-5" />
    </a>
    <a href="mailto: nagaaswin775@gmail.com">
      <img src="../../assets/mail-symbol.png" alt="mail" class="mr-5" />
    </a>
    <a href="https://discord.gg/GHypnPsBNd">
      <img src="../../assets/discord-symbol.png" alt="discord.com" />
    </a>
  </div>
</footer>
