<footer class="text-white text-center align-middle mx-5 pb-4">
  <hr style="width:100%;">
  <p class="text-center align-middle mx-5"> Copyright &copy; 2022. Cloud Op - All rights reserved</p>
  <br>
  <div class="container mb-0 text-center align-middle mx-auto">
    <a href="https://github.com/Nagaaswin/autoRclone-Frontend">
      <img src="../../assets/github-symbol.png" alt="github.com" class="img-fluid mx-auto" />&nbsp; 
    </a>
    <a href="mailto: nagaaswin775@gmail.com">
      <img src="../../assets/mail-symbol.png" alt="mail" class="img-fluid mx-auto" />&nbsp; 
    </a>
    <a href="https://discord.gg/GHypnPsBNd">
      <img src="../../assets/discord-symbol.png" alt="discord.com" class="img-fluid mx-auto" />
    </a>
  </div>
</footer>
