h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 2vw;
}

.control-label {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.5vw;
}

.checkbox {
  width: 1.25vw;
  height: 1.25vw;
}

.checkbox-label {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
}

.btn {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.25vw;
}

.http-response-msg {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1vw;
  height: 4vh;
}

.text-success-color {
  color: #00693e;
}

.text-danger-color {
  color: #ef0107;
}
