<nav class="navbar navbar-expand-sm mb-3 mt-4">
  <h3 class="mx-auto text-center lead text-white align-middle">
    DRIVE DETAILS
  </h3>
</nav>
<form class="form-horizontal" [formGroup]="copyForm" (ngSubmit)="oncopy()">
  <div class="form-group row mx-4">
    <label class="control-label col-sm-3 offset-sm-2 text-white" for="sourceId"
      >Source ID</label
    >
    <div class="col-sm-7">
      <input
        type="text"
        class="form-control rounded-pill shadow"
        id="sourceId"
        formControlName="srcId"
      />
    </div>
  </div>
  <div class="form-group row mx-4">
    <label
      class="control-label col-sm-3 offset-sm-2 text-white"
      for="destinationId"
      >Destination ID</label
    >
    <div class="col-sm-7">
      <input
        type="text"
        class="form-control rounded-pill shadow"
        id="destinationId"
        formControlName="destId"
      />
    </div>
  </div>
  <div class="form-group row mx-4">
    <div class="col-sm-7 offset-sm-5">
      <div class="checkbox-label text-white px-4">
        <label
          ><input
            type="checkbox"
            name="serviceAccounts"
            class="checkbox"
            formControlName="serviceAccounts"
          />&nbsp; Service Accounts</label
        >
      </div>
    </div>
  </div>
  <div class="form-group row mx-4">
    <div class="col-sm-7 offset-sm-5">
      <button
        type="submit"
        class="col-sm-2 btn btn-sm rounded-pill shadow bg-light text-dark mr-5"
        [disabled]="!copyForm.valid || !isNoProcessRunning()"
      >
        Copy
      </button>
      <button
        type="button"
        class="col-sm-2 btn btn-sm rounded-pill shadow bg-danger text-white"
        [disabled]="isNoProcessRunning()"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
<br />
<div class="http-response-msg">
  <p class="text-center text-danger-color" [hidden]="!isRequestFailed()">
    There is some technical error; please try again.
  </p>
  <p class="text-center text-success-color" [hidden]="!isRequestSuccess()">
    Copy started successfully.
  </p>
</div>
