/* You can add global styles to this file, and also import other style files */
html,
body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

body {
  background: linear-gradient(
    241.78deg,
    #83a1ee 0.53%,
    rgba(177, 134, 228, 0.68) 73.82%
  );
}
